<%= form_for(project) do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="form-group">
    <%= f.label :document %>
    <%= f.file_field :document %>
  </div>
  <%= f.select(:category_id, Category.all.collect {|u| [u.name, u.id]},:prompt => 'Select Category') %>
   <p>
     <%= f.label :status %>
    <%= f.select "status", options_for_select([ "Completed", "Pending", "Available"]),:prompt=>'Select One'%>

   </p>
 <div class="form-group">
    <%= f.label :active %><br />
    <%= f.label :active, "Yes", :value => "true"  %>
    <%= f.radio_button :active, true,:checked => true %>
    <%= f.label :active, "No", :value => "false" %>
    <%= f.radio_button :active, false, :checked => true %>
  </div>

  <div class="form-group">
    <%= f.submit %>
  </div>
<% end %>
